{% load static %}
<header class="header">
    <nav class="nav-container">
        <div class="logo">
            <a href="{% url 'index' %}" class="nav-top">
                <img src="{% static 'images/favicon.png' %}" alt="HBCP Logo">
            </a>
            <a href="{% url 'index' %}" class="nav-top"><span class="logo-text">HOMABAY CONCRETE PRODUCTS MANUFACTURERS LIMITED</span></a>
        </div>
        <div class="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'gallery_list' %}">Gallery</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <!-- User Icon Link -->
            <li class="user-icon">
                <a href="{% url 'core:dashboard' %}" title="User Management">
                    <i class="fas fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>